
%p
  = render :partial => "barclamp/node_selector"

:javascript
  $(document).ready(function(){
    var constraints = {  
      "nova-multi-controller": { "unique": false, "count": 1 },
      "nova-multi-compute-hyperv": { "unique": false, "count": -1 },
      "nova-multi-compute-kvm": { "unique": false, "count": -1 },
      "nova-multi-compute-qemu": { "unique": false, "count": -1 }
    };
    node_selector($('#drag_drop'), constraints);
  });

